<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" >
<meta http-equiv="Content-Language" content="en" >
<!-- [if IE]>
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta http-equiv="X-UA-Compatible" value="IE=Edge">
<![endif]-->
<meta name="ROBOTS" content="ALL" >
<meta name="copyright" content="http://mimoxindex.com/" >
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" >
<meta name="keywords" content="trendek munkaerőpiac technológia állásportál álláshirdetés tech jobs technology trends">
<title>MimoxIndex | job market analysis tool | Admin</title>
<LINK href="./static/mimoxindex.css" rel="stylesheet" type="text/css">
</head>
<body>

<div style="width:800px; margin:0 auto;">
<table border="0" cellpadding="5px" cellspacing="10px" width="100%">
<tr class="level2">
<td>

<!-- data -->
{{ data }}
<!-- /data -->

</td></tr></table>
</div>
</body></html>
